.reviews-list {
  padding: 2rem 0;
}

.reviews-card-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.reviews-card-list .card-title {
  display: flex;
  align-items: baseline;
  flex-direction: row;
}

.card-title .item {
  padding-left: .25rem;
  padding-right: .25rem;
}

.reviews-card-list .card-text {
  padding-bottom: 1rem;
}

.date {
  position: absolute;
  bottom: 0;
}